<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Calculator</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	
</head>
<body>
	<div class="container">
		<h3 class="text-center">Calculator</h3>
		<img src="{{ url_for('static', filename='python-logo.png') }}"
		<p>Input two numbers and select operator.</p>
		<p>You could use -0123456789.</p>
		<p>Pay attention: you couldn't divide into zero.</p>
		
		<form method="post" action="/result">
			<input type="text" name="first_number">
			<select name="operator">
				<option value="+">+</option>
				<option value="-">-</option>
				<option value="*">*</option>
				<option value="/">/</option>
			</select>
			<input type="text" name="second_number">
			<p>
				<button class="btn" type="submit" onclick="checkNum(event)">calculate</button>
				<button class="btn" type="reset">clean up</button>
			</p>
		</form>
		{% block result %}{% endblock %}
	</div>

	<script src="{{ url_for('static', filename='script.js') }}"></script> 

</body>
</html>
